.nav-item {
  $colors: (
    #aecdce,
    #5e7076,
    #2e4348,
    #de987e,
    #e7b6a3,
    #fdedcc
  );

  @for $i from 1 through length($colors) {
    $c: nth($colors, $i);
    &:nth-child(#{$i}) &-arrow {
      background-color: $c;
    }

    &:nth-child(#{$i})::before,
    &:nth-child(#{$i}) &-arrow::after {
      border-left-color: $c;
    }
  }

  &-text {
    z-index: 1;
    position: relative;
    margin-left: 5px;
  }

  &-arrow {
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
  }

  &--active &-text {
    color: #fff;
  }

  &-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-width: 20px;
  }
}
