@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "century-gothic", "sans-serif";
}

@layer utilities {
  @for $i from 1 to 5 {
    .col-count-#{$i} {
      columns: $i;
    }
  }

  .masonry-columns {
    columns: 1;

    @media (min-width: 640px) {
      columns: 2;
    }

    @media (min-width: 1024px) {
      columns: 3;
    }

    @media (min-width: 1280px) {
      columns: 4;
    }
  }

  .break-inside-avoid {
    break-inside: avoid;
  }
}

@import "./side-nav";
